
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form .add-drink{
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-start;
    max-width: 50px;
}

.initial-price , .min-price , .max-price {
    padding: 0 20px;
}

.body-home {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('res/beerBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btnToConfig {
    text-align: center;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto ;

}

.home-title{
    color: aliceblue;
    text-align: center;
    margin: 15% 0;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}

.configuration-form{
    display: block;
}



.configuration-general-form, .configuration-title-general{
    margin-left: 15%;
    color: white;

}

.configuration-title-drink{
    color: white;
}

.configuration-drink-form, .configuration-title-drink, .drink-list{
    margin-left: 25%;
}

.drink-list {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 20px 25% 20px 25%;
}

.drink-name, .initial-price, .min-price, .max-price {
    margin-right: 30px;
}
.min-price{
    color: #d64541;
}
.max-price{
    color: #26a65b;
}

.drink-sales-getter{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

